build/sharp/Analysis-00.toc
build/sharp/base_library.zip
build/sharp/COLLECT-00.toc
build/sharp/EXE-00.toc
build/sharp/PKG-00.toc
build/sharp/PYZ-00.pyz
build/sharp/PYZ-00.toc
build/sharp/sharp
build/sharp/sharp.pkg
build/sharp/warn-sharp.txt
build/sharp/xref-sharp.html
dist/sharp
build/sharp/Analysis-00.toc
build/sharp/base_library.zip
build/sharp/EXE-00.toc
build/sharp/PKG-00.toc
build/sharp/PYZ-00.pyz
build/sharp/PYZ-00.toc
build/sharp/sharp.pkg
build/sharp/warn-sharp.txt
build/sharp/xref-sharp.html
dist/sharp
build
dist

